body{
  margin-left:10%;
  width:80%;
}

.select2-container{
  min-width:200px;
  max-width:300px;
}
  
#result{
  margin-top: 25px;
}
 
.row{
  width: 95%;
  margin-left:2%;
}

.col-sm-4{
  word-wrap: break-word;
}

#select_zone{
  border: 1px solid;
}

#select_zone td:nth-child(3){
  max-width:200px;
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden;
}

#toolbox{
  background-color: rgba(225, 225, 224, 0.8);
  text-align: left;
}

.tag{
  background-color: rgba(208, 216, 245, 0.5);
  display: inline-block;
  margin-left: 10px;
}

.remove{
  cursor: pointer;
}

.introjs-helperNumberLayer{
  border: 0px none;
  padding:0px;
}

.example{
  cursor: pointer;
}